// Clear the float with after sudo elemenent
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both; // Float left and right
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
}

/*
    MEDIA QUERY
    $breakpoint arguments choices

    - phone
    - tab-port
    - tab-land
    - big-desktop

    1em = 16px

    600/16 = 37.5em = 600px
    900/16 = 56.25em = 900px
    1200/16 = 75em = 1200px
    1800/16 = 112.5em = 1800px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };
    }
}